/* stylelint-disable no-descending-specificity */
.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.columns.columns3 {
  background: #ff8500;
  padding: 0;
  margin: 0;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns.columns3 .columns-wrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns.columns3 .block.columns {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  box-sizing: border-box;
}

.columns.columns3 .columns-2-cols {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.columns.columns3 .columns-2-cols div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  box-sizing: border-box;
}

.columns.columns3 .columns-2-cols div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 140px;
  min-width: 0;
  box-sizing: border-box;
  text-align: left;
  padding: 0;
}

.columns.columns3 .columns-2-cols div div:first-child {
  border-right: 1px solid #fff3e0;
  padding-right: 16px;
}

.columns.columns3 .columns-2-cols div div:last-child {
  padding-left: 16px;
}

@media (width <= 600px) {
  .columns.columns3 .columns-wrapper {
    max-width: 95vw;
    padding: 0 2vw;
  }

  .columns.columns3 .columns-2-cols div {
    flex-direction: column;
    gap: 0;
    max-width: 98vw;
  }

  .columns.columns3 .columns-2-cols div div {
    max-width: none;
    width: 100%;
    padding: 0;
  }

  .columns.columns3 .columns-2-cols div div:first-child {
    border-right: none;
    border-bottom: 1px solid #fff3e0;
    padding-right: 0;
    padding-bottom: 16px;
  }

  .columns.columns3 .columns-2-cols div div:last-child {
    padding-left: 0;
    padding-top: 16px;
  }
}

.columns.columns3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columns.columns3 li {
  margin-bottom: 10px;
  color: #fff3e0;
  font-size: var(--body-font-size-s);
  letter-spacing: 0.06em;
  line-height: 1.6;
}

.columns.columns3 a {
  color: #fff3e0;
  font-size: var(--body-font-size-s);
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 2px;
  padding: 1px 0;
  display: inline-block;
  transition: color .2s;
}

.columns.columns3 a:hover,
.columns.columns3 a:focus {
  color: #fff;
  text-decoration: underline;
}


.columns.columns3.block.columns-2-cols > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; /* Space between columns */
  position: relative;
}

.columns.columns3.block.columns-2-cols > div > div {
  flex: 1 1 0;
  min-width: 150px;
}

/* Vertical divider */
.columns.columns3.block.columns-2-cols > div > div:first-child {
  position: relative;
}

.columns.columns3.block.columns-2-cols > div > div:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1rem;
  width: 2px;
  height: 100%;
  background: #FFA043; /* lighter orange */
  border-radius: 10px;
}

/* Links styling */
.columns.columns3.block.columns-2-cols ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.columns.columns3.block.columns-2-cols li {
  margin-bottom: 16px;
}

.columns.columns3.block.columns-2-cols a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
}
