.hero-poster-container .hero-poster-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-poster {
  position: relative;
  padding: 24px;
  min-height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.hero-poster > div {
  width: 100%;
}

.hero-poster h1,
.hero-poster h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
  line-height: 1.2;
}

.hero-poster h3,
.hero-poster h4,
.hero-poster h5,
.hero-poster h6 {
  color: var(--text-color);
  text-align: center;
}

.hero-poster p {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.4;
}

.hero-poster.no-image * {
  color: var(--text-color);
}

.hero-poster picture {
  text-align: center;
  display: block;
  margin: 0;
}

.hero-poster img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-poster .button-container {
  text-align: center;
  margin-top: 8px;
}

.hero-poster a.button {
  text-decoration: underline;
  background: none;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-weight: 700;
}
