.embed {
  width: unset;
  text-align: center;
  max-width: 800px;
  margin: 32px auto;
}

.embed > div {
  display: flex;
  justify-content: center;
}

.embed.embed-twitter .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

.embed .embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}


.embed.embedvideo18 {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  min-height: 1px;
  display: block;
}

/* Ensure any nested divs inside embedvideo18 also do not interfere with blank layout */
.embed.embedvideo18 div {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  display: block;
}

/* Remove any accidental spacing or layout from deeply nested empty divs */
.embed.embedvideo18 div div {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
}
