.cards-steps > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.cards-steps > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: rgb(254, 245, 235);
  padding: 24px;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
}

.cards-steps .cards-card-image {
  flex-shrink: 0;
}

.cards-steps .cards-card-image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.cards-steps .cards-card-body {
  flex: 1;
}

.cards-steps .cards-card-body p:first-child {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 8px;
  font-family: var(--heading-font-family-alt);
}

.cards-steps .cards-card-body p:last-child {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

@media (width >= 900px) {
  .cards-steps > ul {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .cards-steps > ul > li {
    flex-direction: column;
    text-align: center;
    max-width: 300px;
  }

  .cards-steps .cards-card-image img {
    width: 110px;
    height: 110px;
  }
}
